.TablePage {
  box-sizing: border-box;
  font-size: 0;
  height: 100%;
  margin: 0 auto;
  padding: 70px 0 35px;
  width: 100%;
  max-width: 900px;
}
.TableFilter__wrapper {
  box-sizing: border-box;
  font-size: 15px;
  display: inline-block;
  overflow: hidden;
  padding-right: 3%;
  vertical-align: top;
  width: 25%;
}

.Table {
  font-size: 16px;
  height: 100%;
  display: inline-block;
  position: relative;
  width: 75%;
}

.Table__heading {
  background: #39816a;
  border-radius: 2px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  left: 0;
  line-height: 32px;
  padding-right: 2%;
  position: absolute;
  text-align: center;
  top: -40px;
  width: 100%;
}
.Table__heading span {
  transition: .2s;
}
.Table__heading span:hover {
  background: rgba(0,0,0, .15);
}
.Table__heading--name {
  display: inline-block;
  width: 50%;
}
.Table__heading--name[data-sorted='asc'][data-sortedby='name']:after {
  content: '↓';
  font-size: 12px;
  padding-left: 10px;
}
.Table__heading--name[data-sorted='desc'][data-sortedby='name']:after {
  content: '↑';
  font-size: 12px;
  padding-left: 10px;  
}
.Table__heading--rating {
  display: inline-block;
  width: 25%;
}
.Table__heading--rating[data-sorted='asc'][data-sortedby='rating']:after {
  content: '↓';
  font-size: 12px;
  padding-left: 10px;  
}
.Table__heading--rating[data-sorted='desc'][data-sortedby='rating']:after {
  content: '↑';
  font-size: 12px;
  padding-left: 10px;  
}

.Table__heading--price {
  display: inline-block;
  width: 25%;
}

.Table__heading--price[data-sorted='asc'][data-sortedby='price']:after {
  content: '↓';
  font-size: 12px;
  padding-left: 10px;  
}
.Table__heading--price[data-sorted='desc'][data-sortedby='price']:after {
  content: '↑';
  font-size: 12px;
  padding-left: 10px;  
}

.Table__wrapper {
  height: 100%;
  overflow: scroll;
}
.Table__table {
  overflow: scroll;
  max-height: 100%;
  width: 100%;
}
.Table__row {
  line-height: 24px;
}
.Table__row:nth-child(2n+1) {
  background-color: #f6f7f8;  
}

.Table__column--name {
  padding-left: 16px;
  width: 50%;
}
.Table__column--rating {
  text-align: center;
  width: 25%;
}
.Table__column--rating > div {
  margin: 0 auto;
  width: 70px;
}
.Table__column--price {
  text-align: center;
  width: 25%;
}

.TableFilter__label {
  cursor: pointer;
  display: inline-block;
  line-height: 32px;
  padding-right: 20px;
  transition: .2s;
}
.TableFilter__label:hover {
  font-weight: bold;
}
.TableFilter__span {
  display: inline-block;
  line-height: 34px;
  text-transform: capitalize;
  vertical-align: top;
}
.TableFilter__input {
  margin: 8px;
}

.Table__row th {
  line-height: 30px;
}